@using Broker.ViewModels

@model PostDetailViewModel
@{
    ViewData["Title"] = "Detail";
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
<link href="@Url.Content("~/css/detail.css")" rel="stylesheet" type="text/css" />


<body>

    <div class="container">
        <div class="card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">

                        <div class="preview-pic tab-content">
                            @for (int i = 0; i < @Model.Image.Count; i++)
                            {
                                @if (i == 0)
                                {
                                    <div class="tab-pane active" id="pic-@i">
                                        <img src="~/UploadFiles/@Model.Image[i].ImageName" />

                                    </div>
                                }
                                else
                                {

                                    <div class="tab-pane" id="pic-@i">
                                        <img src="~/UploadFiles/@Model.Image[i].ImageName" />

                                    </div>
                                }

                            }
                            <ul class="preview-thumbnail nav nav-tabs">
                                @for (int i = 0; i < @Model.Image.Count; i++)
                                {
                                    @if (i == 0)
                                    {
                                        <li class="active"><a data-target="#pic-@i" data-toggle="tab"><img src="~/UploadFiles/@Model.Image[i].ImageName" /></a></li>

                                    }
                                    else
                                    {
                                        <li><a data-target="#pic-@i" data-toggle="tab"><img src="~/UploadFiles/@Model.Image[i].ImageName" /></a></li>
                                    }
                                }
                            </ul>
                        </div>


                    </div>
                    <div class="details col-md-6">
                        <h3 class="product-title">@Model.Title</h3>
                        <hr />
                        <h5 class="room">Size:@Model.Size km2</h5>
                        @for (int i = 0; i < 1; i++)
                        {
                            if (@Model.PostCategories.FirstOrDefault().CategoryId != 4)
                            {
                                if (@Model.PostCategories.FirstOrDefault().CategoryId == 5)
                                {
                                    <h5>Floor's Local:@Model.ApartmentFlor</h5>
                                    continue;
                                }
                                if (@Model.PostCategories.FirstOrDefault().CategoryId == 2
                                || @Model.PostCategories.FirstOrDefault().CategoryId == 3)
                                {
                                    <h5>Floor's Apartment:@Model.ApartmentFlor</h5>
                                }
                                else
                                {
                                    <h5>Floors:@Model.Floors</h5>
                                }
                                <h5><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAOFJREFUSEvtlWENwjAQhb9JwAFOAAc4AAcEBYADJIACwAEoAQk4gDzSI23TsR3L/q1/lmyv911vzXsVPa+q5/qUAHNgBUyd8CuwA/T8rhxwABbOwrlckK29jAHq/BQ+rIEz8GgJGwNLYBP0MztJDNDRJoCK71sWzmXqXJCbjTgGvIJ6BDz/BOgk97D3U7sE6HqzrNEBUPuXhhE1XuBhRN1H1JtVmNkldtvYbyows7sAcufEi2K7lvDotGvliOVA0a4FtA6cjSfy2sAxlaJSIGWDZykDtO9nZHoKttJ29f5GyBvePzYZtIJGaQAAAABJRU5ErkJggg=="/>@Model.Rooms</h5>
                                <h5><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAARNJREFUSEvdlOGRAUEQhT8ROBkQgRMBIuAyIAMicRmQgbsMiAARuBCIgHpVPVtj3ezO7FKq9C+2ut/rftP9Gjw5Gk/G56UEbWABfNqUe2AO/KVMHZpA4DvgIwd2AnopJCGCH2AEbIGJkayAPvALjGOnCBGo0ybQ8brVVEf7r+9RESK4WHXtJXgvgo09YpS2JUnCGirHl8jp/giCDPs/groPe7MgPphbzRag31XCrfLZHalP4N7gC9ChVQkd4NoOdJB/A13s0g5JdpA6hWxF9qIppoAu/85NZWhdI5kBhwjfEaBqvg1cNc4g7wjUhaRSQZUQuKTJpg9tjJMrhSSTxS8qWslYPyrMe2+CFP2DuXVtobSJK3sjNBmX8EPwAAAAAElFTkSuQmCC"/>@Model.BathRooms</h5>

                            }
                            else continue;
                        }
                        <hr />



                        <p><b>More Information:</b></p>
                        <p class="product-description">@Model.Description</p>
                        <hr />
                        <h4>Location: @Model.Country,@Model.State,@Model.City,@Model.Street,@Model.ZipCode.</h4>
                        <h4 class="price">Price: <span>$@Model.Price</span></h4>
                        <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
                        <div class="action">
                            <button class="add-to-cart btn btn-default" type="button">Edit</button>
                            <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>




