@using Broker.ViewModels

@model PostDetailViewModel
@inject UserManager<User> UserManager;
@{
    ViewData["Title"] = "Detail";
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
<link href="~/css/detail.css" rel="stylesheet" type="text/css" />


<body>

    <div class="container">
        <div class="card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">

                        <div class="preview-pic tab-content">
                            @for (int i = 0; i < @Model.Image.Count; i++)
                            {
                                @if (i == 0)
                                {
                                    <div class="tab-pane active" id="pic-@i">
                                        <img src="~/UploadFiles/@Model.Image[i].ImageName" />

                                    </div>
                                }
                                else
                                {

                                    <div class="tab-pane" id="pic-@i">
                                        <img src="~/UploadFiles/@Model.Image[i].ImageName" />

                                    </div>
                                }

                            }
                            <ul class="preview-thumbnail nav nav-tabs">
                                @for (int i = 0; i < @Model.Image.Count; i++)
                                {
                                    @if (i == 0)
                                    {
                                        <li class="active"><a data-target="#pic-@i" data-toggle="tab"><img src="~/UploadFiles/@Model.Image[i].ImageName" /></a></li>

                                    }
                                    else
                                    {
                                        <li><a data-target="#pic-@i" data-toggle="tab"><img src="~/UploadFiles/@Model.Image[i].ImageName" /></a></li>
                                    }
                                }
                            </ul>
                        </div>


                    </div>
                    <div class="details col-md-6">

                        <h4 class="room">Size:@Model.Size km2</h4>
                        @for (int i = 0; i < 1; i++)
                        {
                            if (@Model.PostCategories.FirstOrDefault().CategoryId != 4)
                            {
                                if (@Model.PostCategories.FirstOrDefault().CategoryId == 5)
                                {
                                    <h4>Floor's Local:@Model.ApartmentFlor</h4>
                                    continue;
                                }
                                if (@Model.PostCategories.FirstOrDefault().CategoryId == 2
                                || @Model.PostCategories.FirstOrDefault().CategoryId == 3)
                                {
                                    <h4>Floor's Apartment:@Model.ApartmentFlor</h4>
                                }
                                else
                                {
                                    <h4>Floors:@Model.Floors</h4>
                                }
                                <h4>Rooms:@Model.Rooms</h4>
                                <h4>Bath Rooms:@Model.BathRooms</h4>

                            }
                            else continue;
                        }




                        <h3 class="product-title">@Model.Title</h3>
                        <h4>Location: @Model.Country,@Model.State,@Model.City,@Model.Street,@Model.ZipCode.</h4>
                        <p class="product-description">@Model.Description</p>
                        <h4 class="price">Price: <span>$@Model.Price</span></h4>
                        <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
                        <div class="action">
                            <button class="add-to-cart btn btn-default" type="button">Take this Job</button>
                            <button id='test' class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
                        </div>



                      
                        @if(User.Identity.IsAuthenticated){
                            <h2 style="text-align: center">Rate and write a review</h2>
                        <form id="review-form" method="post" asp-controller="Post" asp-action="AddReview">
                            <input type="number" name="PostId" value=@Model.PostId hidden/>
                            <input type="text" name="SentBy" value=@UserManager.GetUserId(User) hidden/>
                            <input type="number" id="rate" name="Star" hidden />
                            <div id="stars">

                            </div>
                            <textarea name="Comment" placeholder="Write a review"></textarea>
                            <input type="submit" class="btn btn-primary"/>
                            </form>
                        } else
                        {
                            <p style="color: red">You need to be logged in to write a review.</p>
                        }

                          <div class="reviews">
                        @foreach(var rev in @Model.Reviews)
                        {
                            <div class="reviews-item">
                                <div class="reviews-sentby" style="display: flex;flex-direction: column">
                                    <span><b>@rev.User.Name @rev.User.LastName</b></span>
                                    <div>
                                    @for(var i = 1; i < 6; i++){
                                   <i id=@i class="fa-solid fa-star" style="color:@(i < rev.Star ? "gold" : "#c0c0c0")"></i>
                                        }
                                        </div>
                                    </div>
                                    <p>@rev.Comment</p>
                            <hr />
                            </div>
                        }
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>



<script>

     let hover = 0;
     let clickedIndex = 0;

     const stars = Array(5).fill(0);

     const element = stars.map((_,i) => {
         return `<i id="${i + 1}" class="fa-solid fa-star ratestars" style="color:#c0c0c0"></i>`
     }).join("")


      document.getElementById('stars').innerHTML = element;


      const starsElements = document.querySelectorAll('.ratestars')


    starsElements.forEach(star => {

        star.addEventListener('mouseover',e=>{
        hover = e.target.id;

         starsElements.forEach(st => {
             if(st.id <= hover){
                 
                 st.style.color = "gold"
             }
         })
        })

        /// mouseleave
         star.addEventListener('mouseleave',e=>{
      
         starsElements.forEach(st => {
             if(st.id > clickedIndex)
             st.style.color = "#c0c0c0"
         })

         })


          star.addEventListener('click',e=>{
        clickedIndex = e.target.id;
        document.getElementById('rate').value = clickedIndex;
        console.log(document.getElementById('rate').value);
         starsElements.forEach(st => {

                if(st.id <= clickedIndex){
                 st.style.color = "gold"
             }

         })
        })

    })

</script>


