@using Broker.ViewModels
@using Broker.Models
@model FilteredPostViewModel;
@{
   
        var pager = new Pagination();
    if(ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
    }
}

<link href="@Url.Content("~/css/UserPostPage.css")" rel="stylesheet" type="text/css" />



<div class="container" style="display: flex;gap: 10px;">

    
        <form id="filterForm" class="search-form" method='get' asp-action="PostPage">
          

            <select id="select-category" name='category'>
               <option value="">Select Category</option>
                @foreach(var cat in Model.FilteredCategories)
                {
       <option selected="@(Model.Category == @cat.CategoryName)" value="@cat.CategoryName">@cat.CategoryName</option>             
                }
            </select>

            
            <select id="select-city" name='city'>
                <option value="">Select City</option>
                @foreach(var city in @Model.Cities)
                {
                    <option selected="@(Model.City == city)" value="@city">@city</option>
                }
            </select>

            <label class="label label-default" for="customRange2">Select price</label>
            <p>Min Price</p>
             <input type="range" name="minPrice" class="form-range" min="0" max="100" oninput="num.value = this.value+'$'" id="minPrice" />
            <output id="num"></output>

             <p>Max Price</p>
             <input type="range" name="maxPrice" class="form-range" min="0" max="100" oninput="num2.value = this.value+'$'" id="maxPrice" />
            <output id="num2"></output>
          
            <span asp-validation-for="minPrice" class="text-danger"></span>

             <input id="btn-submit" type='submit' class="btn btn-primary" value='Search' />
        </form>

  @*  <a href="/Archive/Index" class="btn btn-primary">Archived posts</a>*@
   

   <div class="container" style="padding: 0">
        <div class="row">
 
            @foreach(var post in @Model.FilteredPosts)
            {
                
            <div class="col-4">

                <article class="post-card">
                    <div class="post-card-img">
                       <img src="~/UploadFiles/@post.Images.FirstOrDefault().ImageName"/>
                    </div>
                    <div class="post-card-info">
                        <div class="post-card-info-address">
                            
                            <h3>@post.Country</h3>
                            <p>@post.City</p>
                            <hr />
                            <h3>@post.Title</h3>
                            <p>@post.Description</p>
                            <hr />
                            <div class="post-price-btns">
                                <h3>$@post.Price</h3>
                                <a href="/Post/Detail" class="btn btn-outline-primary">View Details</a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            }
           
             </div>
              </div>

</div>


<div class="container">


    @if(pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-center"> 

     @if(pager.CurrentPage > 1)
    {
        <li class="page-item ">
                    <a class="page-link" asp-controller="Post" asp-action="PostPage" asp-route-category=@Model.Category asp-route-city=@Model.City asp-route-pg="1">First</a>
                </li>
                <li class="page-item ">
                    <a class="page-link" asp-controller="Post" asp-action="PostPage" asp-route-category=@Model.Category asp-route-city=@Model.City asp-route-pg="@(pager.CurrentPage - 1)">Previous</a>
                </li>
    }

            @for (var page = pager.StartPage; page <= pager.EndPage; page++)
            {
                <li class="page-item @(page == pager.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="Post" asp-action="PostPage" asp-route-category=@Model.Category asp-route-city=@Model.City asp-route-pg="@(page)">@(page)</a>
                </li>
            }

                @if(pager.CurrentPage < pager.TotalPages)
    {
        <li class="page-item ">
                    <a class="page-link" asp-controller="Post" asp-action="PostPage" asp-route-category=@Model.Category asp-route-city=@Model.City asp-route-pg="@(pager.CurrentPage + 1)">Next</a>
                </li>
                <li class="page-item ">
                    <a class="page-link" asp-controller="Post" asp-action="PostPage" asp-route-category=@Model.Category asp-route-city=@Model.City asp-route-pg="@(pager.TotalPages)">Last</a>
                </li>
    }

        </ul>
    }


</div>


<script src="@Url.Content("~/js/UserPostPage.js")"></script>
