@using Broker.Models
@{
    ViewData["Title"] = "PostPageCreate";
}
@model PostViewModel;

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
      integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
      crossorigin="" />

<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
        integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
        crossorigin=""></script>


@section Styles
{
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />


<link href="@Url.Content("~/css/postpagecreate.css")" rel="stylesheet" type="text/css" />
}


<section>
    <div class="wrapper">
        
            <h1>Create post</h1>
            <div style="display: flex; justify-content:center; align-items: center">
            <form id="myForm" method="post" enctype="multipart/form-data" >
                <div class="form-attr">

                <div class="form-group">
                    <label for="post.Title">Title</label>
                    <input type="text"
                           asp-for="Title"
                           class="form-control together"
                           id="exampleInputEmail1"
                           aria-describedby="emailHelp"
                           placeholder="Enter title" />

                    <p class="error" id="TitleError"></p>
                </div>

                <div class="custom-file">
                    <input type="file"
                           asp-for="Image"
                           class="custom-file-input together"
                           id="inputGroupFile01"
                           onchange="preview()"
                           multiple
                           aria-describedby="inputGroupFileAddon01" />
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    <p id="filesNumber">No files chosen</p>
                    <div id="uploadedImages"></div>

                    <p class="error" id="ImageError"></p>
                </div>
                <br />
                <div class="input-group">
                    <textarea class="form-control together"
                              asp-for="Description"
                              aria-label="With textarea"
                              id="description"
                              placeholder="description"></textarea>
                </div>
                <p class="error" id="DescriptionError"></p>

                <br />

                <label>Choose Categories</label>
                        <br />
                        <select id="select-option" name="CategoryId">

                            <option selected value="@Model.categories.Where(c=>c.DefaultActive).FirstOrDefault().CategoryId">@Model.categories.Where(c=>c.DefaultActive).FirstOrDefault().CategoryName</option>
                            @foreach (var cat in @Model.categories.Where(c => !c.DefaultActive).ToList())
                        {
                            <option value="@cat.CategoryId">@cat.CategoryName</option>

                        }
                    </select>

                    <br/>

                 <div id="show-specific-atributes">

                        <div class="form-group category-inputs show" id="room">
                            <label for="post.Rooms">Rooms</label>
                            <input type="number"
                                   asp-for="Rooms"
                                   class="form-control  together"
                                   id="exampleInputEmail1"
                                   aria-describedby="emailHelp"
                                   placeholder="Rooms" />

                            <p class="error" id="RoomsError"></p>
                        </div>
                        <div class="form-group category-inputs show" id="bathroom">
                            <label for="post.BathRooms">Bathrooms</label>
                            <input type="number"
                                   asp-for="BathRooms"
                                   class="form-control  together"
                                   id="exampleInputEmail1"
                                   aria-describedby="emailHelp"
                                   placeholder="Bathrooms" />

                            <p class="error" id="BathRoomError"></p>
                        </div>
                        <div class="form-group category-inputs show" id="size">
                            <label for="post.Size">Size</label>
                            <input type="number"
                                   asp-for="Size"
                                   class="form-control  together"
                                   id="exampleInputEmail1"
                                   aria-describedby="emailHelp"
                                   placeholder="Enter title" />

                            <p class="error" id="SizeError"></p>
                        </div>
                        <div class="form-group category-inputs" id="houseFloor">
                            <label for="post.Floors">Floors</label>
                            <input type="number"
                                   asp-for="Floors"
                                   class="form-control together"
                                   aria-describedby="emailHelp"
                                   placeholder="Floors" />

                            <p class="error" id="FloorsError"></p>
                        </div>
                        <div class="form-group category-inputs hide" id="apartmentFloor">
                            <label for="post.ApartmentFlor">Floor</label>
                            <input type="number"
                                   asp-for="ApartmentFlor"
                                   class="form-control together"
                                   aria-describedby="emailHelp"
                                   placeholder="kati" />

                            <p class="error" id="FloorsError"></p>
                        </div>
                        <br />
                   
                <div class="input-group together">
                     <label asp-for="Price">Price</label>
                    <input type="text"
                           class="form-control"
                           id="price"
                           asp-for="Price"
                           aria-label="Dollar amount (with dot and two decimal places)" />
                    <div class="input-group-append flex">
                        <span class="input-group-text">$</span>
                    </div>
                </div>
                <br />
              </div>
              </div>

                <div class="form-location">
                    <div class="form-group">

                <label>Search Address</label>
                <div id="search">
                    <input type="text" name="addr" class='form-control' value="" id="addr" size="58" />
                </div>
                <div id="results"></div>
                    <button type="button" class='btn btn-primary' onclick="addr_search();">Search</button>
                    </div>




                <div style="display: flex; flex-direction: column; width: 500px; height: 400px; overflow: hidden">
                    <p style="margin-left: 20px">Please mark the address on map</p>
                    <div id="map"></div>
                    <h4 style="text-align: center" id="currAddress"></h4>
                </div>

                <br />

                 <div class="row">
                    
                    <div class="form-group col-6">
                     <b>Latitude</b>
                    <input type="text" asp-for="Latitude" id="lat" size=12 class='form-control' value="" readonly>
                    </div>
                    
                    <div class="form-group col-6">
                        <b>Longitude</b>
                    <input type="text" asp-for="Longitude" id="lon" size=12 class='form-control' value="" readonly>
                    </div>
                </div>
             


                <div class="row">
                    <div class="form-group col-6">
                        <label>City</label>
                        <input type="text" asp-for="City" id="city" class="form-control disabled" readonly />                        
                        <p class="error" id="CityError"></p>
                    </div>
                    
                    <div class="form-group col-6">
                        <label>Country</label>
                        <input type="text" asp-for="Country" id="country" class="form-control disabled " readonly />
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-6">

                          <label>Zip Code</label>
                <input type="number" asp-for="ZipCode" id="zipcode" class="form-control disabled" readonly />
                        
                    </div>

                     <div class="form-group col-6">
                 <label>Road</label>
                <input type="text" asp-for="Street" id="road" class="form-control disabled" readonly />
                    </div>
                </div>

                  <div class="row">
                    <div class="form-group col-6">
                   <label>State</label>
                <input type="text" asp-for="State" id="state" class="form-control disabled" readonly />
                <p class="error" id="StateError"></p>
                    </div>

                     <div class="form-group col-6">
                    <label>House Number</label>
                <input type="number" asp-for="HouseNumber" id="housenumber" class="form-control disabled" readonly />
                    </div>
                </div>
              
             <label>Neighbourhood</label>
                <input type="text" asp-for="Neighbourhood" id="neighbourhood" class="form-control disabled" readonly />


                <input type="submit" class="btn btn-primary" value="Submit" />
               
                </div>

            </form>
                  </div>
        </div>
 
</section>


@section Scripts{
    <script src="~/js/CreatePostMap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/js/postpagecreate.js"></script>
}