@model SimpleUser
@{
    Layout = "~/Views/Shared/_SimpleUserLayout.cshtml";
    ViewData["Title"] = "Confirm delete";
}

<link href="@Url.Content("~/css/deleteUS.css")" rel="stylesheet" type="text/css" />



        <div class="container">

        <form method="post" asp-controller="SimpleUser" asp-action="UpdateSU">
            <h2 id="deleteHeader">Update Account</h2>

            <div class="form-outline mb-4">
            <label class="labels" asp-for="UserId"></label>
            <input type="text" id="firstname" asp-for="UserId" readonly hidden value="@Model.UserId" class="form-control form-control-lg">
            </div>

            <div class="form-outline mb-4">
            <label class="labels" asp-for="Name"></label>
            <input type="text" id="firstname" asp-for="Name" value="@Model.Name" class="form-control form-control-lg">
            <span asp-validation-for="Name" class="text-danger"></span> 
            </div>

            <div class="form-outline mb-4">
            <label class="labels" asp-for="LastName"></label>
            <input type="text" id="lastname" asp-for="LastName" value="@Model.LastName" class="form-control form-control-lg">
            <span asp-validation-for="LastName" class="text-danger"></span> 
            </div>

            <div class="form-outline mb-4">
            <label class="labels" asp-for="Birthday"></label>
            <input type="date" id="birthday" asp-for="Birthday" class="form-control form-control-lg">
            <span asp-validation-for="Birthday" class="text-danger"></span> 
            </div>

            <div class="form-outline mb-4">
            <label class="labels" asp-for="Email"></label>
            <input type="text" id="email"  asp-for="Email" value="@Model.Email" class="form-control form-control-lg">
            <span asp-validation-for="Email" class="text-danger"></span> 
            </div>


            <div class="form-outline mb-4">
            <label class="labels" asp-for="Telephone"></label>
            <input type="number" id="telephone"  asp-for="Telephone" value="@Model.Telephone" class="form-control form-control-lg">
            <span asp-validation-for="Telephone" class="text-danger"></span> 
            </div>

            <div class="form-outline mb-4">
            <label class="labels" asp-for="Street"></label>
            <input type="text" id="street"  asp-for="Street" value="@Model.Street" class="form-control form-control-lg">
            <span asp-validation-for="Street" class="text-danger"></span> 
            </div>

            <div class="form-outline mb-4">
            <label class="labels" asp-for="State"></label>
            <input type="text" id="state"  asp-for="State" value="@Model.State" class="form-control form-control-lg">
            <span asp-validation-for="State" class="text-danger"></span> 
            </div>

            <div class="form-outline mb-4">
            <label class="labels" asp-for="City"></label>
            <input type="text" id="city"  asp-for="City" value="@Model.City" class="form-control form-control-lg">
            <span asp-validation-for="City" class="text-danger"></span> 
            </div>

            <div class="form-outline mb-4">
            <label class="labels" asp-for="ZipCode"></label>
            <input type="number" id="zipCode"  asp-for="ZipCode" value="@Model.ZipCode" class="form-control form-control-lg">
            <span asp-validation-for="ZipCode" class="text-danger"></span> 
            </div>

            <input id="sumbit-btn" type="submit" asp-route-id="1" value="Update Account" class="btn btn-primary btn-lg btn-block">
        </form>
        </div>