@model List<HomeViewModel>;

@{
    Layout = "~/Views/Shared/_AgentUserLayout.cshtml";
    ViewData["Title"] = "Home Page";

}
@*
<div class="homepage-img">
    <input id="homepageSearch" class="search-btn" type="search" placeholder="Search">
</div>*@

  <div class="homeSlider">
    <div class="homepage-slider">
        <img src="../../Assets/Images/grid1.jpg" class="homepage-slider-imgs">
        <img src="../../Assets/Images/slider4.jpg" class="homepage-slider-imgs">
        <img src="../../Assets/Images/slider5.jpg" class="homepage-slider-imgs">   
        <div class="homepage-search">
            <input class="homepageSearch" type="text" placeholder="Find posts">
            <div class="searchResults"></div>
          </div>
 </div>
 </div>


<div id="homepage-posts">
    @foreach (var m in @Model)
    {
        <h1>@m.category.CategoryName</h1>
        <div class="slider">
            <div class="homepage-posts-container slides" data-category="@m.category.CategoryName" id="slides">
            @foreach(var posts in @m.posts)
            {
                 <div class="homepage-post-cards content slide">
                <img src="../../Assets/Images/grid1.jpg" alt="Home">
                <h1>@posts.Title</h1>
                <p>@posts.Description</p>
                <a class="btn btn-primary" href="#">Show Details</a>
            </div>
            }
            </div>
            <div class="prev" id="prev" data-category-btn=@m.category.CategoryName>
                <i class="fas fa-caret-left"></i>
            </div>
            <div class="next" id="next" data-category-btn=@m.category.CategoryName>
                <i class="fas fa-caret-right"></i>
            </div>
        </div>
    }
</div>

<script src="~/js/welcomePage.js"></script>