@model List<PostDetailViewModel>
@{
    ViewData["Title"] = "Detail";
}

<h1>Post Details</h1>

<table border=1px>
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Image
            </th>
            <th>
                Price
            </th>
            <th>
                Owner
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var el in Model)
        {
            <tr>
                <td>
                    @el.Title
                </td>
                <td>
                    @el.Description
                </td>
                <td>
                    <img src="~/UploadFiles/@el.Image.ImageName" class="" height="80px" width="80px" />
                </td>
                <td>
                    @el.Price
                </td>
                <td>
                    @el.OwnerName
                </td>
                <td>
                    <a type="submit" class="btn-primary" asp-action="Edit" asp-controller="Post" asp-route-id="@el.PostId" value="Edit">Edit </a>
                    <a type="submit" class="btn-primary" asp-action="Delete" asp-route-id="@el.PostId">Delete </a>

                </td>
            </tr>

        }
    </tbody>
</table>

