@model BrokerApp.ViewModel.PostDetailViewModel
@{
    ViewData["Title"] = "Detail";
}

<h1>Post Details</h1>

<table border=1px>
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Image
            </th>
            <th>
                Price
            </th>
            <th>
                Owner
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.Title
            </td>
            <td>
                @Model.Description
            </td>
            <td>
                <img src="~/UploadFiles/@Model.Image.ImageName" class="" height="80px" width="80px" />
            </td>
            <td>
                @Model.Price
            </td>
            <td>
                @Model.OwnerName
            </td>
            <td>
                <a type="submit" class="btn-primary" asp-action="Edit" asp-controller="Post" asp-route-id="@Model.PostId" value="Edit">Details </a>

            </td>
        </tr>
    </tbody>
</table>

