@model HomeViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="homepage-img">
    <input id="homepageSearch" class="search-btn" type="search" placeholder="Search">
</div>


<div id="homepage-posts">
    @foreach (var category in @Model.categories)
    {
        <h1>@category</h1>
        <div class="slider">
            <div class="homepage-posts-container slides" data-category="@category" id="slides">
            @foreach(var posts in @Model.posts.Where(post => post.Category == category).ToList())
            {
                 <div class="homepage-post-cards content slide">
                <img src="../../Assets/Images/@posts.image" alt="Home">
                <h1>@posts.Title</h1>
                <p>@posts.Description</p>
                <a class="btn btn-primary" href="#">Show Details</a>
            </div>
            }
            </div>
            <div class="prev" id="prev" data-category-btn=${category}>
                <i class="fas fa-caret-left"></i>
            </div>
            <div class="next" id="next" data-category-btn=${category}>
                <i class="fas fa-caret-right"></i>
            </div>
        </div>
    }
</div>
<script src="~/js/welcomePage.js"></script>